body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

#map {
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.top-bar, .bottom-bar {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
}

.organograma-container {
    flex-grow: 1;
    pointer-events: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
}

.breadcrumb {
    color: #ff6f61;
}

.button {
    background-color: #ff6f61;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #ff3e30;
}
